# A comprehensive analysis of representation of women in STEM in popular animated movies

In [53]:
# import libraries
import numpy as np
import pandas as pd
import seaborn as sns

In [54]:
# import CSV file to a dataframe
filename = "movie_analysis.csv"
movies = pd.read_csv(filename, header=0)

movies

,Movie Title,female_STEM_character,male_STEM_character,num_female_STEM_characters,num_male_STEM_characters,is_STEM_protagonist,is_male_STEM_protagonist,is_female_STEM_protagonist,is_tech_theme,popularity_by_gender,targeted_by_gender,female_STEM_less_expert,female_STEM_less_attractive
0,Astro Boy (2009),True,True,1,3,True,True,False,True,1,1,True,True
1,Big Hero 6 (2014),True,True,2,5,True,True,False,True,0,0,False,True
2,Bolt (2008),False,False,0,0,False,False,False,False,0,0,False,False
3,Cars (2006),True,True,2,10,True,True,False,True,1,1,True,False
4,Cars 2 (2011),True,True,3,17,True,True,False,True,1,1,True,False
5,Cars 3 (2017),True,True,3,15,True,True,False,True,1,1,False,False
6,Cloudy with a Chance of Meatballs (2009),True,True,1,1,False,False,False,True,0,0,True,True
7,Cloudy with a Chance of Meatballs 2 (2013),True,True,1,1,False,False,False,True,0,0,True,True
8,Despicable Me (2013),False,True,0,3,False,False,False,True,0,0,False,False
9,Despicable Me 2 (2017),False,True,0,2,False,False,False,False,0,0,False,False
10,Despicable Me 3 (2024),False,True,0,2,False,False,False,False,0,0,False,False
11,Finding Dory (2016),False,False,0,0,False,False,False,False,0,0,False,False
12,Finding Nemo (2003),False,False,0,0,False,False,False,False,0,0,False,False
13,Frozen (2013),False,False,0,0,False,False,False,False,-1,-1,False,False
14,Frozen II (2019),False,False,0,0,False,False,False,False,-1,-1,False,False
15,Ice Age: Continental Drift (2012),False,False,0,0,False,False,False,False,0,0,False,False
16,Ice Age: Dawn of the Dinosaurs (2009),False,False,0,0,False,False,False,False,0,0,False,False
17,Inside Out 2 (2024),False,False,0,0,False,False,False,False,0,0,False,False
18,Jimmy Neutron: Boy Genius (2001),True,True,1,1,True,True,False,True,0,0,False,False
19,Meet the Robinsons (2007),False,True,0,4,True,True,False,True,0,0,True,False
20,Megamind (2010),False,True,0,1,True,True,False,True,0,0,False,False
21,Minions (2015),False,True,0,2,False,False,False,False,0,0,False,False
22,Minions: The Rise of Gru (2022),False,True,0,3,True,True,False,True,0,0,False,False
23,Monsters University (2013),False,False,0,0,False,False,False,False,0,0,False,False
24,Monsters vs. Aliens (2009),False,True,0,1,True,True,False,True,0,0,False,False
25,"Monsters, Inc. (2001)",False,False,0,0,False,False,False,False,0,0,False,False
26,Next Gen (2018),True,True,1,1,True,True,True,True,0,0,False,True
27,Ratatouille (2007),False,False,0,0,False,False,False,False,0,0,False,False
28,Robots (2005),True,True,1,4,True,True,False,True,1,1,True,True
29,Scooby Doo Cyberchase (2001),True,True,1,5,True,True,True,True,0,0,False,True
30,Shrek 2 (2004),False,False,0,0,False,False,False,False,0,0,False,False
31,Spider-Man: Into the Spider-Verse (2018),True,True,1,10,True,True,False,True,1,1,True,True
32,Spy Kids 3-D: Game Over (2003),True,True,4,14,True,True,True,True,1,0,True,True
33,The Incredibles (2004),False,False,0,0,False,False,False,False,0,0,False,False
34,The Incredibles 2 (2018),False,False,0,0,False,False,False,False,0,0,False,False
35,The Iron Giant (1999),False,True,0,1,True,True,False,True,1,1,False,False
36,The Lion King (1994),False,False,0,0,False,False,False,False,0,0,False,False
37,The Mitchells vs. The Machines (2021),True,True,1,3,True,True,True,True,0,0,False,True
38,The Secret Life of Pets (2016),False,False,0,0,False,False,False,False,0,0,False,False
39,The Super Mario Bros. Movie (2023),False,False,0,0,False,False,False,False,0,0,False,False
40,Toy Story (1995),False,True,0,1,True,True,False,False,0,0,False,False
41,Toy Story 2 (1999),False,True,0,1,True,True,False,False,0,0,False,False
42,Toy Story 3 (2010),False,True,0,1,True,True,False,False,0,0,False,False
43,Toy Story 4 (2019),False,True,0,1,True,True,False,False,0,0,False,False
44,Treasure Planet (2002),False,True,0,3,True,True,False,False,0,0,False,False
45,Tron: Legacy (2010),True,True,2,4,True,True,False,True,1,1,True,False
46,Up (2009),False,False,0,0,False,False,False,False,0,0,False,False
47,WALL-E (2008),True,True,1,1,True,True,True,True,0,0,False,False
48,Zootopia (2016),False,False,0,0,False,False,False,False,0,0,False,False

In [55]:
contains_STEM_character = movies["female_STEM_character"] | movies["male_STEM_character"]
movies["contains_STEM_character"] = contains_STEM_character

movies.head()

,Movie Title,female_STEM_character,male_STEM_character,num_female_STEM_characters,num_male_STEM_characters,is_STEM_protagonist,is_male_STEM_protagonist,is_female_STEM_protagonist,is_tech_theme,popularity_by_gender,targeted_by_gender,female_STEM_less_expert,female_STEM_less_attractive,contains_STEM_character
0,Astro Boy (2009),True,True,1,3,True,True,False,True,1,1,True,True,True
1,Big Hero 6 (2014),True,True,2,5,True,True,False,True,0,0,False,True,True
2,Bolt (2008),False,False,0,0,False,False,False,False,0,0,False,False,False
3,Cars (2006),True,True,2,10,True,True,False,True,1,1,True,False,True
4,Cars 2 (2011),True,True,3,17,True,True,False,True,1,1,True,False,True

In [56]:
female_to_male_STEM_ratio = movies["num_female_STEM_characters"] / movies["num_male_STEM_characters"]

In [57]:
movies["female_to_male_STEM_ratio"] = female_to_male_STEM_ratio

movies.head()

,Movie Title,female_STEM_character,male_STEM_character,num_female_STEM_characters,num_male_STEM_characters,is_STEM_protagonist,is_male_STEM_protagonist,is_female_STEM_protagonist,is_tech_theme,popularity_by_gender,targeted_by_gender,female_STEM_less_expert,female_STEM_less_attractive,contains_STEM_character,female_to_male_STEM_ratio
0,Astro Boy (2009),True,True,1,3,True,True,False,True,1,1,True,True,True,0.333333
1,Big Hero 6 (2014),True,True,2,5,True,True,False,True,0,0,False,True,True,0.400000
2,Bolt (2008),False,False,0,0,False,False,False,False,0,0,False,False,False,NaN
3,Cars (2006),True,True,2,10,True,True,False,True,1,1,True,False,True,0.200000
4,Cars 2 (2011),True,True,3,17,True,True,False,True,1,1,True,False,True,0.176471

In [58]:
STEM_movies = movies[movies["contains_STEM_character"]]

STEM_movies

,Movie Title,female_STEM_character,male_STEM_character,num_female_STEM_characters,num_male_STEM_characters,is_STEM_protagonist,is_male_STEM_protagonist,is_female_STEM_protagonist,is_tech_theme,popularity_by_gender,targeted_by_gender,female_STEM_less_expert,female_STEM_less_attractive,contains_STEM_character,female_to_male_STEM_ratio
0,Astro Boy (2009),True,True,1,3,True,True,False,True,1,1,True,True,True,0.333333
1,Big Hero 6 (2014),True,True,2,5,True,True,False,True,0,0,False,True,True,0.400000
3,Cars (2006),True,True,2,10,True,True,False,True,1,1,True,False,True,0.200000
4,Cars 2 (2011),True,True,3,17,True,True,False,True,1,1,True,False,True,0.176471
5,Cars 3 (2017),True,True,3,15,True,True,False,True,1,1,False,False,True,0.200000
6,Cloudy with a Chance of Meatballs (2009),True,True,1,1,False,False,False,True,0,0,True,True,True,1.000000
7,Cloudy with a Chance of Meatballs 2 (2013),True,True,1,1,False,False,False,True,0,0,True,True,True,1.000000
8,Despicable Me (2013),False,True,0,3,False,False,False,True,0,0,False,False,True,0.000000
9,Despicable Me 2 (2017),False,True,0,2,False,False,False,False,0,0,False,False,True,0.000000
10,Despicable Me 3 (2024),False,True,0,2,False,False,False,False,0,0,False,False,True,0.000000
18,Jimmy Neutron: Boy Genius (2001),True,True,1,1,True,True,False,True,0,0,False,False,True,1.000000
19,Meet the Robinsons (2007),False,True,0,4,True,True,False,True,0,0,True,False,True,0.000000
20,Megamind (2010),False,True,0,1,True,True,False,True,0,0,False,False,True,0.000000
21,Minions (2015),False,True,0,2,False,False,False,False,0,0,False,False,True,0.000000
22,Minions: The Rise of Gru (2022),False,True,0,3,True,True,False,True,0,0,False,False,True,0.000000
24,Monsters vs. Aliens (2009),False,True,0,1,True,True,False,True,0,0,False,False,True,0.000000
26,Next Gen (2018),True,True,1,1,True,True,True,True,0,0,False,True,True,1.000000
28,Robots (2005),True,True,1,4,True,True,False,True,1,1,True,True,True,0.250000
29,Scooby Doo Cyberchase (2001),True,True,1,5,True,True,True,True,0,0,False,True,True,0.200000
31,Spider-Man: Into the Spider-Verse (2018),True,True,1,10,True,True,False,True,1,1,True,True,True,0.100000
32,Spy Kids 3-D: Game Over (2003),True,True,4,14,True,True,True,True,1,0,True,True,True,0.285714
35,The Iron Giant (1999),False,True,0,1,True,True,False,True,1,1,False,False,True,0.000000
37,The Mitchells vs. The Machines (2021),True,True,1,3,True,True,True,True,0,0,False,True,True,0.333333
40,Toy Story (1995),False,True,0,1,True,True,False,False,0,0,False,False,True,0.000000
41,Toy Story 2 (1999),False,True,0,1,True,True,False,False,0,0,False,False,True,0.000000
42,Toy Story 3 (2010),False,True,0,1,True,True,False,False,0,0,False,False,True,0.000000
43,Toy Story 4 (2019),False,True,0,1,True,True,False,False,0,0,False,False,True,0.000000
44,Treasure Planet (2002),False,True,0,3,True,True,False,False,0,0,False,False,True,0.000000
45,Tron: Legacy (2010),True,True,2,4,True,True,False,True,1,1,True,False,True,0.500000
47,WALL-E (2008),True,True,1,1,True,True,True,True,0,0,False,False,True,1.000000

## Average number of STEM characters

In [59]:
# Average number of overall STEM characters
average_num_STEM_characters = np.mean(STEM_movies["num_female_STEM_characters"] + STEM_movies["num_male_STEM_characters"])
average_num_STEM_characters

4.9

In [60]:
# Average number of male STEM characters
average_num_male_STEM_characters = np.mean(STEM_movies["num_male_STEM_characters"])
average_num_male_STEM_characters

4.033333333333333

In [61]:
# Average number of female STEM characters
average_num_female_STEM_characters = np.mean(STEM_movies["num_female_STEM_characters"])
average_num_female_STEM_characters

0.8666666666666667

## Average ratio of female:male STEM characters

In [62]:
average_ratio = np.mean(STEM_movies["female_to_male_STEM_ratio"])
average_ratio

0.2659617180205415

## Average probability of being a STEM protagonist

In [63]:
# Simple probability of a movie having a STEM protagonist
prob_STEM_protagonist = np.mean(STEM_movies["is_STEM_protagonist"])
prob_STEM_protagonist

0.8

In [64]:
# Simple probability of a movie having a female STEM protagonist
prob_female_STEM_protagonist = np.mean(STEM_movies["is_female_STEM_protagonist"])
prob_female_STEM_protagonist

0.16666666666666666

In [65]:
# Simple probability of a movie having a male STEM protagonist
prob_male_STEM_protagonist = np.mean(STEM_movies["is_male_STEM_protagonist"])
prob_male_STEM_protagonist

0.8

In [66]:
# A probability of a protagonist being a man in STEM, given that the movie contains STEM protagonist
cond_prob_male_STEM_protagonist = prob_male_STEM_protagonist / prob_STEM_protagonist
cond_prob_male_STEM_protagonist

1.0

In [67]:
# A probability of a protagonist being a woman in STEM, given that the movie contains STEM protagonist
cond_prob_female_STEM_protagonist = prob_female_STEM_protagonist / prob_STEM_protagonist
cond_prob_female_STEM_protagonist

0.20833333333333331

# Portrayal of female STEM characters

In [69]:
female_STEM_movies = STEM_movies[STEM_movies["female_STEM_character"]]
female_STEM_movies

,Movie Title,female_STEM_character,male_STEM_character,num_female_STEM_characters,num_male_STEM_characters,is_STEM_protagonist,is_male_STEM_protagonist,is_female_STEM_protagonist,is_tech_theme,popularity_by_gender,targeted_by_gender,female_STEM_less_expert,female_STEM_less_attractive,contains_STEM_character,female_to_male_STEM_ratio
0,Astro Boy (2009),True,True,1,3,True,True,False,True,1,1,True,True,True,0.333333
1,Big Hero 6 (2014),True,True,2,5,True,True,False,True,0,0,False,True,True,0.400000
3,Cars (2006),True,True,2,10,True,True,False,True,1,1,True,False,True,0.200000
4,Cars 2 (2011),True,True,3,17,True,True,False,True,1,1,True,False,True,0.176471
5,Cars 3 (2017),True,True,3,15,True,True,False,True,1,1,False,False,True,0.200000
6,Cloudy with a Chance of Meatballs (2009),True,True,1,1,False,False,False,True,0,0,True,True,True,1.000000
7,Cloudy with a Chance of Meatballs 2 (2013),True,True,1,1,False,False,False,True,0,0,True,True,True,1.000000
18,Jimmy Neutron: Boy Genius (2001),True,True,1,1,True,True,False,True,0,0,False,False,True,1.000000
26,Next Gen (2018),True,True,1,1,True,True,True,True,0,0,False,True,True,1.000000
28,Robots (2005),True,True,1,4,True,True,False,True,1,1,True,True,True,0.250000
29,Scooby Doo Cyberchase (2001),True,True,1,5,True,True,True,True,0,0,False,True,True,0.200000
31,Spider-Man: Into the Spider-Verse (2018),True,True,1,10,True,True,False,True,1,1,True,True,True,0.100000
32,Spy Kids 3-D: Game Over (2003),True,True,4,14,True,True,True,True,1,0,True,True,True,0.285714
37,The Mitchells vs. The Machines (2021),True,True,1,3,True,True,True,True,0,0,False,True,True,0.333333
45,Tron: Legacy (2010),True,True,2,4,True,True,False,True,1,1,True,False,True,0.500000
47,WALL-E (2008),True,True,1,1,True,True,True,True,0,0,False,False,True,1.000000

## Percentage of movies depicting women in STEM as less attractive than non-STEM women

In [71]:
female_STEM_attractiveness = np.average(female_STEM_movies["female_STEM_less_attractive"])
female_STEM_attractiveness

0.625

## Percentage of movies depicting women in STEM as less competent than men in STEM

In [72]:
female_STEM_competence = np.average(female_STEM_movies["female_STEM_less_expert"])
female_STEM_competence

0.5625